{
    "extends": [
        "axway/env-node",
        "axway/+mocha"
    ],
    "rules": {
        "indent": [ "error", 2, { "SwitchCase": 1 } ],
        "security/detect-non-literal-regexp": "off"
    }
}
